*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
  outline: none;
  border: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

#slider {
  width: 100%;
  min-height: 100vh;
  background-color: #e9c46a;
  color: #588157;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#slider .name {
  font-size: 64px;
}
#slider .desc {
  font-size: 36px;
}

#content {
  width: 100%;
  min-height: 100vh;
}
#content .profile {
  width: 100%;
  min-height: 100vh;
  background-color: #264653;
  display: flex;
  justify-content: space-around;
}
#content .profile .left,
#content .profile .right {
  width: calc(40% - 16px);
  padding: 36px;
}
#content .profile .left {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
#content .profile .left .title {
  color: #fff;
  font-size: 48px;
  font-weight: bold;
  line-height: 1.2;
}
#content .profile .left .title span {
  background: -webkit-linear-gradient(#f72585, #560bad);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#content .profile .left .desc {
  margin-top: 36px;
  color: #fff;
  text-align: justify;
}
#content .profile .left .media {
  margin-top: 24px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#content .profile .left .media a {
  text-decoration: none;
  font-size: 48px;
  border-radius: 12px;
  background: -webkit-linear-gradient(#5a189a, #9d4edd);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#content .profile .right {
  display: flex;
  justify-content: center;
  align-items: center;
}
#content .profile .right .my-image {
  width: 80%;
  object-fit: cover;
  overflow: hidden;
  border-radius: 9px;
}
#content .ecommerce-page {
  width: 100%;
  min-height: 100vh;
  background-color: #588157;
  display: flex;
  justify-content: space-around;
}
#content .ecommerce-page .left,
#content .ecommerce-page .right {
  width: calc(40% - 16px);
  padding: 36px;
}
#content .ecommerce-page .left {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
#content .ecommerce-page .left .ecommerce-image {
  width: 100%;
  object-fit: cover;
  overflow: hidden;
  border-radius: 9px;
}
#content .ecommerce-page .right {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#content .ecommerce-page .right h3 {
  font-size: 48px;
  color: #fff;
  margin-bottom: 48px;
}
#content .ecommerce-page .right .view {
  display: flex;
  justify-content: space-around;
}
#content .ecommerce-page .right .view a {
  text-align: center;
  min-width: 120px;
  text-decoration: none;
  color: #fff;
  padding: 12px 24px;
  border-radius: 12px;
  background-image: linear-gradient(to top, #f72585, #560bad);
  cursor: pointer;
  margin: 12px;
}
#content .ecommerce-page .right .view a:hover {
  opacity: 0.8;
}
#content .landing-page {
  width: 100%;
  min-height: 100vh;
  background-color: #7b2cbf;
  display: flex;
  justify-content: space-around;
}
#content .landing-page .left,
#content .landing-page .right {
  width: calc(40% - 16px);
  padding: 36px;
}
#content .landing-page .right {
  display: flex;
  justify-content: center;
  align-items: center;
}
#content .landing-page .right .landing-image {
  width: 100%;
  object-fit: cover;
  overflow: hidden;
  border-radius: 9px;
}
#content .landing-page .left {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#content .landing-page .left h3 {
  font-size: 48px;
  color: #fff;
  margin-bottom: 48px;
}
#content .landing-page .left .view {
  display: flex;
  justify-content: space-around;
}
#content .landing-page .left .view a {
  text-align: center;
  min-width: 120px;
  text-decoration: none;
  color: #fff;
  padding: 12px 24px;
  border-radius: 12px;
  background-image: linear-gradient(to top, #f72585, #560bad);
  cursor: pointer;
  margin: 12px;
}
#content .landing-page .left .view a:hover {
  opacity: 0.8;
}

@media screen and (max-width: 687px) {
  #slider {
    min-height: 700px;
  }
  #slider .name {
    font-size: 42px;
  }
  #slider .desc {
    font-size: 32px;
  }

  #content {
    width: 100%;
    padding: 12px;
  }
  #content .profile {
    width: 100%;
    flex-wrap: wrap;
    min-height: fit-content;
  }
  #content .profile .left,
#content .profile .right {
    width: 100%;
  }
  #content .profile .right {
    width: 100%;
  }
  #content .profile .right .my-image {
    width: 100%;
  }
  #content .ecommerce-page {
    width: 100%;
    flex-wrap: wrap;
    min-height: fit-content;
  }
  #content .ecommerce-page .left,
#content .ecommerce-page .right {
    width: 100%;
  }
  #content .ecommerce-page .right h3 {
    margin-top: 0;
    font-size: 32px;
  }
  #content .ecommerce-page .right .view {
    margin-top: 0;
    flex-wrap: wrap;
  }
  #content .ecommerce-page .right .view a {
    width: 100%;
  }
  #content .ecommerce-page .left {
    width: 100%;
  }
  #content .ecommerce-page .left .ecommerce-image {
    width: 100%;
  }
  #content .ecommerce-page .left .ecommerce-image img {
    width: 100%;
  }
}

/*# sourceMappingURL=mycv.css.map */
